@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", system-ui;
  font-optical-sizing: auto;
}

h1 {
  margin: 0;
  padding: 0;
}

input {
  font-family: "Montserrat", system-ui;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: ease-in-out 0.3s all;
}

.btn.btn-main {
  background-image: linear-gradient(to right, #47469c, #7f6f8a);
  color: #fff;
}
.btn.btn-main:hover {
  background-image: linear-gradient(to right, #7f6f8a, #47469c);
}

.btn.btn-secondary {
  background: #dcd8fa;
  color: #7767e8;
  font-weight: 600;
}

.btn.btn-primary {
  background: #f3f3f3;
}

/* HEADER */
.wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  position: sticky;
  top: 0;
  transition: all ease-in-out 0.5s;
}

.sticky {
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.15);
  background: #fff;
  z-index: 999;
  transition: all ease-in-out 0.5s;
}

.wrapper-header .group-nav {
  display: flex;
  column-gap: 2rem;
}

.wrapper-header .group-nav .item-nav {
  font-weight: 600;
  cursor: pointer;
}

.wrapper-header .logo-header .image-logo {
  width: 40px;
  height: 40px;
}

.wrapper-header .group-nav .item-nav.login-user {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

/* BANNER */
.wrapper-banner {
  padding: 0 2rem;
}

.wrapper-banner .box-banner {
  background-image: url(./img/bg-image.png);
  width: -webkit-fill-available;
  border-radius: 20px;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper-banner .group-select-category {
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 0 1rem;
  width: fit-content;
  height: 60px;
  column-gap: 1.5rem;
}

.group-select-category .select-category-item {
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.group-select-category .category-title {
  margin-bottom: 0.25rem;
}

.group-select-category .category-card {
  border: none;
  font-weight: 600;
  font-size: 14px;
}

.line-vertical {
  width: 1px;
  height: 100%;
  background: #e0e0e0;
}

.btn-category-item {
  background: #7767e8;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0.8rem;
  border-radius: 6px;
  column-gap: 0.5rem;
  width: -webkit-fill-available;
  cursor: pointer;
}

.wrapper-banner .title-banner {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.box-pointer {
  display: flex;
  column-gap: 1rem;
  color: #fff;
}

.box-pointer .main {
  font-weight: 600;
}

.box-pointer .sub {
  font-weight: 300;
}

/* BRAND */
.wrapper-brand {
  padding: 2rem;
  display: flex;
  align-items: center;
}

.wrapper-brand .logo-brand {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.3;
}

/* TRENDING */
.wrapper-trending {
  padding: 0 2rem 2rem;
}

.control-input-search {
  margin-bottom: 2rem;
}

.control-input-search input {
  background: #f2f2f2;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 4px;
  width: -webkit-fill-available;
}

.group-trending {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.5rem;
}

.text-trending {
  font-size: 28px;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  color: #232323;
}

.wrapper-trending .box-trending {
  padding: 1rem;
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.15);
  border-radius: 10px;
  cursor: pointer;
}

.box-trending .logo-trending {
  border-radius: 10px;
  overflow: hidden;
}

.wrapper-trending .trending-main {
  font-weight: 600;
  font-size: 16px;
  margin-top: 1rem;
}

.wrapper-trending .trending-sub {
  font-weight: 300;
}

.wrapper-trending .box-trending:hover {
  background: #f0f0f0;
}

/* FINDING */
.wrapper-finding {
  padding: 2rem 2rem 2rem;
}

.group-finding {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.5rem;
}

.text-finding {
  font-size: 28px;
  text-transform: uppercase;
  color: #232323;
}

.wrapper-finding .finding-main {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.wrapper-finding .finding-sub {
  display: flex;
}

.box-content-finding {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.wrapper-finding .box-finding {
  border-radius: 12px;
  margin-top: 2rem;
  padding: 2rem 1rem;
  background: #f0f0f0;
  transition: ease-in-out 0.3s all;
  cursor: pointer;
}

.wrapper-finding .box-finding:hover {
  background: #e0e0e0;
}

.wrapper-finding .logo-finding {
  width: 100%;
}

.wrapper-finding .group-finding-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-finding-nav .box-arrow {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.group-finding .btn-finding {
  background: #dfdfdf;
  font-weight: 600;
  color: #8c8c8c;
  transition: ease-in-out 0.3s all;
}

.wrapper-finding .box-finding:hover .btn-finding {
  background: #dcd8fa;
  color: #7767e8;
}

/* FOOTER */
.wrapper-footer {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #f0f0f0;
}

.wrapper-footer .footer-main {
  font-size: 16px;
  font-weight: 600;
  color: #232323;
}

.wrapper-footer .footer-sub {
  font-size: 14px;
  font-weight: 300;
  color: #8c8c8c;
}

.wrapper-footer .box-footer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

/* FINAL */
.wrapper-final {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

/* DETAIL PRODUCT */
.wrapper-detail {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  height: 65.5vh;
}

.wrapper-detail .group-change-count {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  cursor: pointer;
}

/* WRAPPER CART */
.wrapper-cart {
  height: 65.5vh;
}

.group-cart {
  width: 75%;
  margin: auto;
  padding: 2rem;
}

.group-cart .header-cart {
  display: flex;
  padding: 1rem;
  background-image: linear-gradient(to right, #47469c, #7f6f8a);
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 1.2;
}

.col-3 {
  flex: 1;
  text-align: center;
}

.col-4 {
  flex: .5;
}

.body-cart {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}

.row-cart {
  display: flex;
  align-items: center;
  font-size: 14px;
}

/* COLOR */
.gray {
  color: #b3b3b3;
}

.popup {
  position: fixed;
  top: 5rem;
  right: -20rem;
  background-image: linear-gradient(to right, #47469c, #7f6f8a);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 4px;
  transition: all .3s ease-in-out;
  opacity: 0;
}

.popup.active {
  opacity: 1;
  right: 4rem;
}

/* WRAPPER CHECKOUT */
.wrapper-checkout {
  height: 58.5vh;
  padding: 2rem 4rem;
}

/* RESPONSIVE */
.wrapper-header.mobile .btn-header-mobile {
  background-image: linear-gradient(to right, #47469c, #7f6f8a);
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  transition: ease-in-out 0.3s all;
}

.wrapper-header.mobile .btn-header-mobile:hover {
  background-image: linear-gradient(to right, #7f6f8a, #47469c);
}

/* LAPTOP */
@media screen and (min-width: 1024px) {
  .wrapper-header.mobile {
    display: none;
  }

  .wrapper-banner .box-banner {
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  .wrapper-banner .group-select-category {
    width: 50%;
  }

  .wrapper-container {
    padding: 0 6rem;
  }

  .wrapper-footer {
    padding: 3rem 8rem;
  }

  .wrapper-final {
    padding: 2rem 8rem;
  }

  .box-pointer {
    position: absolute;
    bottom: 10%;
    left: 2%;
  }

  .wrapper-banner .title-banner {
    font-size: 60px;
    width: 50%;
    font-weight: 600;
  }

  .group-select-category .category-card {
    width: 200px;
  }

  .wrapper-brand {
    padding: 5rem 2rem;
    justify-content: space-around;
  }

  .wrapper-brand .logo-brand {
    width: 150px;
  }

  .wrapper-trending .box-trending {
    width: 21%;
  }

  .wrapper-finding {
    padding: 4rem 2rem;
  }

  .wrapper-finding .box-finding {
    width: 21%;
  }
}

/* MOBILE */
@media screen and (max-width: 1024px) {
  .wrapper-header.laptop {
    display: none;
  }

  .wrapper-banner .box-banner {
    height: 300px;
    background-size: cover;
  }

  .box-pointer {
    margin-top: 3rem;
  }

  .wrapper-banner .title-banner {
    font-size: 28px;
    width: 300px;
    font-weight: 500;
  }

  .group-select-category .category-card {
    width: 120px;
  }

  .wrapper-brand {
    justify-content: space-between;
  }

  .wrapper-brand .logo-brand {
    width: 100px;
  }

  .wrapper-trending .box-trending {
    width: 100%;
  }

  .wrapper-finding .box-finding {
    width: 100%;
  }
}
